
<h1> Vote </h1>
<h3>Pick your top three </h3>
<%= simple_form_for @vote do |f| %>

  <%= f.association :proposals, label_method: :description, as: :check_boxes %>

  <div class='form-group'>
    <%= f.button :submit, value: 'Submit', class: 'btn-primary' %>
  </div>

<% end %>
