
<% if can? :create, :votes %>
  <%= link_to 'Create New Vote', new_vote_path, class: 'btn btn-primary pull-right top-40 clearfix' %>
<% end %>
<h2>Votes</h2>

<table class="table">

  <thead>
    <tr>
      <th>Vote ID</th>
      <th>Sumbmitted</th>
      <th>Proposals</th>
    </tr>
  </thead>

  <% @votes.each do |vote| %>
    <tr>
      <td><%= vote.id %></td>
      <td><%= vote.created_at.strftime("%B %d") %></td>
      <% vote.proposals.each do |proposal| %>
      <td><%= proposal.title %></td>
      <% end %>
    </tr>
    <% end %>

</table>
