

<footer class="footer">
	<div class="container">
		<div class="navbar-header" style="margin-top: 10px;">
			<div class="pull-left">
				<%= link_to 'http://pauselab.com/' do %>
				  <%= image_tag 'masthead/pauselab.png', :alt => 'pauselab', style: "max-width:90px; margin-top: 18px;" %>
				<% end %>
				<%# TODO make link look nicer %>
				<div style="margin-top: 10px; font-size: 0.9em; ">
					<% if I18n.locale == I18n.default_locale %>
						<%= link_to (t 'shared.spanish_pretranslated'), :locale => :es %>
					<% else %>
						<%= link_to (t 'shared.english_pretranslated'), :locale => :en %>
					<% end %>
				</div>
			</div>
			<div class="pull-right" style= "line-height: 100%; margin-top: 10px; text-align: right;">
				<small>
					401 E. Water Street <br>
					Charlottesville, Virginia 22902 <br>
					434.249.6664 <br>
					<a href="mailto:info@pauselab.com">info@pauselab.com</a>
				</small>
			</div>
		</div>
	</div>
</footer>
