

<footer class="footer">
	<div class="container">
		<div class="navbar-header pull-right">
			<%= link_to 'http://pauselab.com/', class: 'navbar-brand' do %>
			  <%= image_tag 'masthead/pauselab.png', :alt => 'pauselab', style: "max-width:90px; margin-top: 18px;" %>
			  <div style= "line-height: 100%;"> 
			  	<small> <br>
				  401 E. Water Street <br>
				  Charlottesville, Virginia 22902 <br>
				  434.249.6664 <br>
				  info@pauselab.com
			  	</small>
			  </div>
			<% end %>
		</div>
	</div>
</footer>
