

<footer class="footer">
	<div class="container">
		<div class="navbar-header pull-right" style="margin-top: 10px;">
			<%= link_to 'http://pauselab.com/', class: '' do %>
			  <%= image_tag 'masthead/pauselab.png', :alt => 'pauselab', style: "max-width:90px; margin-top: 18px;" %>
			<% end %>
			<br>
			<div style= "line-height: 100%; margin-top: 10px;">
				<small>
					401 E. Water Street <br>
					Charlottesville, Virginia 22902 <br>
					434.249.6664 <br>
					<a href="mailto:info@pauselab.com">info@pauselab.com</a>
				</small>
			</div>
		</div>
		<!-- <br> -->

	</div>
</footer>
