

<div class="navbar navbar-default navbar-static-bottom">
	<div class="container">
		<div class="navbar-header pull-right">
			<%= link_to 'http://pauselab.com/', class: 'navbar-brand' do %>
			  <%= image_tag 'masthead/pauselab.png', :alt => 'pauselab', style: "max-width:90px; margin-top: 25px;" %>
			<% end %>
		</div>
	</div>
</div>