<div id="like_button_<%= idea.id %>">
  <% if idea.respond_to? :likes %>
    <span class="idea_count"><%= idea.likes %></span>
  <% end %>
  <% if can? :like, Idea %>
    <% unless @likes.include?(idea.id) %>
      <%= link_to idea_like_path(idea), :remote => true do %>
        <button class="btn btn-sm btn-outline-primary"><i class="fa fa-thumbs-o-up "></i></button>
      <% end %>
    <% else %>
      <%= link_to idea_like_path(idea), :remote => true do %>
        <button class="btn btn-sm btn-outline-primary"><i class="fa fa-thumbs-o-down "></i></button>
      <% end %>
    <% end %>
  <% end %>
</div>
