
<style media="screen">
  .controls {
      margin-top: 10px;
      /*border: 1px solid transparent;
      border-radius: 2px 0 0 2px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      height: 32px;
      outline: none;*/
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #pac-input {
      font-size: 15px;
      font-weight: 300;
      margin-left: 12px;
      padding: 0 11px 0 13px;
      text-overflow: ellipsis;
      width: 75%;
      padding: 0.5rem 0.75rem;
    }

    .address {
      font-style: italic;
    }

</style>

<h1>Submit New Idea</h1>

<div class="row">

  <div class="col-sm-6 <%= 'has-error' if @idea.errors.key?(:lat) %>">

    <input  id="pac-input" class="controls form-control" type="text" placeholder="lee park etc.">

    <div id="map" class="idea-map-pick"></div>
    <% if @idea.errors.key?(:lat) %>
      <span class="help-block">no location specified</span>
    <% else %>
      <div class="address text-muted"></div>
    <% end %>
  </div>

  <div class="col-sm-6">
    <div class="center-block">
      <%= render 'form' %>
    </div>
  </div>

</div>

<!-- async defer  -->
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initAutocomplete&libraries=places"></script>
