
<%= flash_messages %>

<h1>Submit New Idea</h1>

<div class="row">
  <div class="col-sm-6">
    <div class="idea-map-pick">
    </div>
  </div>

  <div class="col-sm-6">
    <div class="center-block">
      <%= render 'form' %>
    </div>
  </div>

</div>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initAutocomplete&libraries=places"></script>
