

.sidebar {
    padding: 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;

    min-width: 100px;

    ul {
      width: 100%;
      // border: 1px solid black;
    }

    a {
      width: 100%;
      display: block;
      padding: 10px 20px;
      font-size: 0.9em;
      text-decoration: none;

      &:hover {
        background-color: #bdc3c7;
        color: white;
        cursor: pointer;
      }

    }

}

.main {
  // border: 1px solid black;
  height: 100%;
  padding-right: 40px;
  padding-left: 40px;
}

.admin-title {
  margin-top: 20px;
}

.active, .active:hover {
  a {
    color: #fff;
    background-color: #428bca;
  }
}
