
.admin-title {
  // margin-top: 10px;
  text-align: center;
}

.active, .active:hover {
  a {
    color: #fff;
    background-color: #428bca;
  }
}

/*** iteration manager ***/
.iteration {
  text-align: center;
  padding: 5px;
  transition: 0.1s all;
  &:hover {
    cursor: pointer;
    background-color: #bdc3c7;
    color: white;
  }
  &:active {
    background-color: #95a5a6;
  }
}

.iteration-progress {
  span {
    font-weight: bolder;
  }
}

.iteration-stats {
  ul {
    padding-left: 0;
    list-style: none;
  }
}

.iteration-list {
  margin-bottom: 20px;
}

.phase-btn {
  outline: none;
  &:active {
    outline: none;
    border: none;
  }
}
