
.user-img {
  height: 45px ;
  min-width: 45px ;
  margin-right: 10px ;
  margin-top: -30px ;
}

.user-img-lg {
  height: 50px ;
  min-width: 50px ;
  margin-right: 10px ;
  margin-top: -10px ;
}

.blog-body {
  // font-family: 'comic sans' ;
}
