
// we can extend bootstrap styles and override if necessary

$muted_red: #e74c3c;

// hover will open submenu
.dropdown:hover .dropdown-menu {
    display: block;
 }

// remove underline from mandatory asterix
abbr[title] {
	border-bottom: none;
  text-decoration: none;
}

// our custom styles
#flash_alert {
	color: $muted_red;
}

// masthead stylings
.masthead-proposal {
	// border: 1px solid black;
}

.text-masthead {

}

// navigation bar
.navbar {
	margin-bottom: 0;
	min-height: 80px;
  // box-shadow: 0px 0.5px 1px black;
  border-bottom: 1px solid #ecf0f1;
  border-radius: 0px;
  margin-bottom: 50px;
}

.nav-item, .dropdown-item {
  font-size: 0.9em;
}

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-nav {
	margin-top: 20px;
}
.navbar-brand {
	padding: 0 15px;
	height: 80px;
	line-height: 80px;
}
.navbar-toggler {
	margin-top: 20px;
}

.footer {
  margin-top: 50px;
  position: absolute;
  // bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #f5f5f5;
}

.signup-btn {
    font-size: 0.95em;
}

// TODO: move this somehere logical
.idea-map-pick {
	width: 100%;
	height: 400px;
  margin-bottom: 15px;
}

.navbar-static-bottom {
	margin-top: 30px;
	border-radius: 0px;
}

.img-responsive {
	width: 100%;
}


// helper classes
.top-40 {
  margin-top: 40px;
}

.right-10 {
  margin-right: 10px;
}
