// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ideas-map-info {
  margin-top: 15px;
  height: 400px;
}

#map-sidebar {
  // border: 1px solid black;
  background: #ecf0f1;
  padding: 10px;
  width: 20%;
  min-width: 150px;
  height: 400px;
  font-size: 1.4em;
  overflow: scroll;
}

.idea-address {
  font-weight: bold;
}

.idea-date {
  font-size: 0.8em;
}

.idea-img {
  width: 100%;
  height: auto;
}
