
<!-- TODO: add logic to show what is active -->

<ul class="nav nav-sidebar">
  <li class="active"><a href="#">Overview</a></li>
  <li><%= link_to 'Users', list_users_path %></li>
  <li><a href="#">Change Phases</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="">Misc.</a></li>
</ul>
