
<% if Landingpage.exists?(title: "About Us") %>
  <% @landingpage = Landingpage.where(title: "About Us").first%>
  <h2><%= @landingpage.title%> </h2>
  <p><%=  @landingpage.description.html_safe %> </p>
   <% if can? :edit, Landingpage %>
  <p> <%= link_to 'Edit About Us', edit_landingpage_path(@landingpage) %></p>
  <% end %>
  <% else %>
  <p> PauseLab has not created a home post yet </p>
  <% if can? :create, Landingpage %>
   <p> <%= link_to 'Create About Us', new_landingpage_path %></p>
 <% end %>

  <% end %>
