
<%= simple_form_for @category do |f| %>
    <%= f.input :name, placeholder: 'Nature' %>
    <div class='form-group'>
      <%= f.button :submit, value: 'Create Category', class: 'btn-primary' %>
      <%= link_to 'Cancel', categories_path %>
    </div>
<% end %>
