<style media="screen">
  .hidden {
    display: none;
  }
</style>

<%= render :layout => 'admin/dashboard', :locals => {position: 'users' } do %>

  <h2><%= t 'admins.create_user' %></h2>
  <%= render :partial => "form", :locals => {:include_password => true, :inside_modal => false} %>

<% end %>
